/* main .section.form-container.custom-forms {
  Styles for sections using the custom-forms section class.
} */

main .section.form-container.custom-forms .form form fieldset.panel-wrapper.field-wrapper>legend {
  display: block;
  margin: 20px 0 10px;
  padding: 3px 0 3px 20px;
  text-align: left;
  background-color: #f7f7f7;
}

main .section.form-container.custom-forms .form form fieldset.panel-wrapper.field-wrapper {
  grid-template-columns: repeat(var(--form-columns), minmax(0, 1fr));
}

main .section.form-container.custom-forms .form form fieldset.panel-wrapper.field-wrapper :is(.field-wrapper.col-12, .field-wrapper.col-11, .field-wrapper.col-1) {
  grid-column: span 12;
}

main .section.form-container.custom-forms .form form .field-wrapper:has(> .checkbox-group-wrapper) {
  padding-top: 40px;
}

main .section.form-container.custom-forms .form form .field-wrapper:has(> .checkbox-group-wrapper) .field-wrapper {
  margin-left: 25%;
}

main .section.form-container.custom-forms .form form .field-wrapper:has(> .checkbox-group-wrapper) .field-wrapper > .field-label {
  position: absolute;
  top:10px;
  z-index:1;
  left: 0;
}

main .section.form-container.custom-forms .form form .radio-group-wrapper:not(.horizontal) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

main .section.form-container.custom-forms .form form .field-wrapper:not(:has(label:is([class*=' icon-'], [class^='icon-']))):is([class*='field-firstname'], [class*='field-lastname'], [class*='field-name'], [class*='field-phonenumber'], [class*='field-mobilenumber'], [class*='field-companyname'], [class*='field-company'], [class*='field-email'], [class*='field-juristicpersonregistrationnumber'])::before{
  content: '';
}

main .section.form-container.custom-forms .form-wrapper .form :is(.text-wrapper, .number-wrapper, .email-wrapper, .telephone-wrapper, .drop-down-wrapper).field-invalid :is(input, select),
main .section.form-container.custom-forms .form-wrapper .form .drop-down-wrapper.field-invalid select {
  padding: 0 20px;
}

main .section.form-container.custom-forms .form form fieldset.panel-wrapper.field-wrapper:has(> .field-approvalcheckbox, > .field-privacy){
    padding: 0 0 0 2.1875rem;
}

main .section.form-container.custom-forms .form form .field-wrapper:has(> .checkbox-group-wrapper) .field-wrapper .field-description{
  position:absolute;
  z-index:1;
  bottom:0;
  left:0; 
}

main .section.form-container.custom-forms .form form .field-wrapper:has(> .checkbox-group-wrapper > .field-description) {
  padding-bottom: 20px;
}

main .section.form-container.custom-forms .form form fieldset.panel-wrapper.field-wrapper .tnc-text-decoration {
border:none;
}

main .section.form-container.custom-forms .form :is(.field-submitcta form button[type='submit'], form .submit-wrapper button){
  background:#0064ff;
  color:#fff;
  border:none;
}