.field-subject>legend {
  font-family: var(--bbl-font-family-primary);
  font-weight: var(--bbl-body-b1-weight);
  font-size: 1.25rem;
  text-decoration: underline;
  padding: 0.625rem 0 0;
}

.field-title h2 {
  text-align: center;
  color: var(--bbl-text-primary);
  font-family: var(--bbl-font-family-medium);
  font-weight: var(--bbl-font-weight-regular);
  font-size: 1.6rem;
  line-height: 2.875rem;
}

.field-invalid :is(.field-validation-error, .field-description) {
  padding-left: 1rem;
  margin-top: 0.3125rem;
}

.field-description textarea {
  resize: none;
}

main .section.form-container.custom-forms .form form .field-productservices1-exclude select,
main .section.form-container.custom-forms .form form .field-categorydropdown-exclude select,
main .section.form-container.custom-forms .form form .field-categorydropdown2-exclude select {
  font-size: 0.95rem;
  font-weight: var(--bbl-font-weight-medium);
  font-family: var(--bbl-font-family-medium);
  color: var(--bbl-text-primary);
  margin-bottom: 1rem;
}

main .section.form-container.custom-forms .form form fieldset.panel-wrapper.field-transdatetimepanel {
  row-gap: 0.5rem;
}

main .section.form-container.custom-forms .form form fieldset.radio-group-wrapper.field-subject {
  gap: 0;
}

main .section.form-container.custom-forms .form form fieldset.panel-wrapper.field-info-pannel.field-wrapper>legend {
  background-color: transparent;
  padding: 0 0.625rem;
  margin: 0;
  text-decoration: underline;
  color: var(--bbl-color-grey-85);
  font-size: 1.25rem;
  font-weight: 700;
  font-family: var(--bbl-font-family-primary);
}

main .section.form-container.custom-forms .form form .field-compliantnonfin-complimentpanel>fieldset.panel-wrapper:not(.field-transdatetimepanel) {
  margin-top: var(--bbl-space-250);
  margin-bottom: 0;
}

main .section.form-container.custom-forms .form form fieldset.radio-group-wrapper.field-subject>legend.field-label {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--bbl-color-grey-85);
  padding: 0.625rem 0 0 0.625rem;
  font-family: var(--bbl-font-family-primary);
}

main .section.form-container.custom-forms .form form fieldset.panel-wrapper.field-transdatetimepanel>legend.field-label,
main .section.form-container.custom-forms .form form .field-compliantnonfin-complimentpanel>fieldset.panel-wrapper:not(.field-transdatetimepanel)>legend.field-label {
  width: max-content;
  font-size: 1rem;
  padding: 0.3125rem 0.625rem;
  line-height: var(--bbl-body-b3-line-height);
  font-weight: var(--bbl-font-weight-regular);
}

.panel-wrapper .field-wrapper .drop-down-wrapper.field-province-exclude.field-wrapper,
.panel-wrapper .field-wrapper .drop-down-wrapper.field-branch-exclude.field-wrapper{
    grid-column: span 12;
}

@media(width > 48rem) {
  .panel-wrapper .field-wrapper .drop-down-wrapper.field-province-exclude.field-wrapper,
  .panel-wrapper .field-wrapper .drop-down-wrapper.field-branch-exclude.field-wrapper{
      grid-column: span 6;
  }

  .field-title h2 {
  font-size: var(--bbl-form-font-size-48);
  }
}
