.menu-card-action-title :is(h1, h2, h3, h4, h5, h6)::before {
  content: "";
  position: absolute;
  left: 0;
  width: 1.3125rem;
  bottom: 0;
  height: 0.0625rem;
  background: var(--bbl-color-grey-60);
}

.menu-card-actions-container .default-content-wrapper :is(h1, h2, h3, h4, h5, h6) {
  letter-spacing: -0.0125rem;
}

.menu-card-actions-container .default-content-wrapper :is(h1):lang(th) {
  line-height: 1.875rem;
}

.menu-card-actions-container .default-content-wrapper :is(h2):lang(th) {
  line-height: 1.5rem;
}

.menu-card-actions-container .default-content-wrapper .default-content-wrapper-text {
  font-weight: var(--bbl-font-family-regular);
  line-height: 1.1244rem;
  margin: 0;
  padding-bottom: 1.875rem;
}

.menu-card-actions-container .default-content-wrapper .default-content-wrapper-image {
  margin: 0;
  padding-bottom: var(--bbl-space-250);
}

.menu-card-action {
  width: 100%;
}

.menu-card-action:is(.scrollable, .stacked) {
  align-items: stretch;
}

.menu-card-action-item {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
}

.menu-card-action-inner {
  display: flex;
  text-align: left;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 0 var(--bbl-space-200) 0 transparent;
  padding: var(--bbl-space-250);
  flex-grow: 1;
  border-radius: 0.4375rem;
  border: 0.0625rem solid var(--bbl-color-black-alpha-10);
}

.menu-card-action :is(.menu-card-action-item, .menu-card-action-inner, .global-dropdown) {
  overflow: visible;
}

.menu-card-action-description :is(p, li) a {
  color: inherit;
}

.menu-card-action-description :is(p, li) a[class] {
  display: inline;
  font-weight: inherit;
  font-family: inherit;
  font-size: inherit;
}

.menu-card-action-description :is(p, li) a[class]::after {
  display: none;
}

.menu-card-action-item-link,
.menu-card-action-item-link:any-link {
  color: inherit;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  box-sizing: border-box;
  transition: border 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  overflow-wrap: break-word;
}

.menu-card-action-item-link .menu-card-action-inner {
  flex: 1;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.menu-card-action-inner img {
  height: 5rem;
  width: auto;
  object-fit: contain;
}

.menu-card-action-title {
  flex-grow: 1;
  width: 100%;
}

.menu-card-action-title :is(h1, h2, h3, h4, h5, h6) {
  font-weight: var(--bbl-font-weight-regular);
  font-size: 1.14rem;
  line-height: 1.25rem;
  font-family: var(--bbl-font-family-medium);
  margin-block: var(--bbl-space-250) 0.9375rem;
  padding-bottom: 0.9375rem;
  box-sizing: border-box;
  min-height: 4.4375rem;
  position: relative;
  display: inline-block;
}

:lang(th) {
  .menu-card-action-title :is(h1) {
    line-height: 1.875rem;
  }

  .menu-card-action-title :is(h2) {
    line-height: 1.5rem;
  }
}

.menu-card-action-inner .button-container {
  margin-block: 0.625rem 0;
  width: 100%;
}

.menu-card-action-inner .button-m {
  display: block;
  width: auto;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  line-height: 2.75rem;
  margin-top: var(--bbl-space-250);
}

.menu-card-action-inner .global-dropdown {
  margin-top: calc(var(--bbl-space-250) - 0.9375rem);
}

.menu-card-action .menu-card-action-inner .button-tertiary {
  margin-top: var(--bbl-space-250);
}

.menu-card-action-inner .menu-card-action-description~ :is(.button-m, .global-dropdown) {
  margin-top: var(--bbl-space-250);
  min-width: 100%;
}

.menu-card-action-inner .menu-card-action-description~ :is(.button-tertiary) {
  margin-top: var(--bbl-space-250);
  min-width: auto;
}

.menu-card-action-description {
  flex-grow: 1;
  display: flex;
  overflow-wrap: break-word;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.menu-card-action-description p {
  font: var(--bbl-font-weight-regular) var(--bbl-font-size-b2)/1.1244rem var(--bbl-font-family-regular);
  flex-grow: 1;
  margin: 0;
}


.menu-card-action-title.has-description {
  flex-grow: 0;
}

.menu-card-action.stacked {
  display: flex;
  flex-direction: column;
}

.menu-card-action.stacked .menu-card-action-item {
  width: 100%;
  padding: 0 0 var(--bbl-space-250);
}

.menu-card-action.scrollable {
  display: flex;
  overflow: auto hidden;
  padding: 0.625rem 0;
  gap: var(--bbl-space-250);
  scroll-snap-type: x mandatory;
  scrollbar-width: thin;
}

.menu-card-action.scrollable .menu-card-action-item {
  flex: 0 0 16.875rem;
  width: 16.875rem;
  scroll-snap-align: start;
  margin: 0;
  box-sizing: border-box;
  padding: 0 0 var(--bbl-space-250);
}

.menu-card-action.scrollable::-webkit-scrollbar {
  height: 0.125rem;
}

.menu-card-action-inner:has(.multiple-download-wrapper) :is(.menu-card-action-description, .menu-card-action-title) {
  flex-grow: 0;
}

.menu-card-action-date {
  font-size: var(--bbl-body-b1-size);
  line-height: 1.203rem;
  color: var(--bbl-color-grey-85);
  padding-top: var(--bbl-space-250);
  margin: 0;
}


.menu-card-action-inner .download-button-wrapper {
  margin-top: var(--bbl-space-250);
}

.menu-card-action-inner .download-button-wrapper.multiple-download-wrapper {
  margin-top: 1.875rem;
}

.menu-card-action-inner .download-button-wrapper+.download-button-wrapper {
  margin-top: 0;
}

.menu-card-action-item:has(.global-dropdown.is-open) {
  z-index: 10;
}

.menu-card-action-inner .download-button-wrapper .download-files {
  padding: 0 var(--bbl-space-500) 0 var(--bbl-space-250);
}

.menu-card-action-description ul {
  padding: 0.625rem 0 0;
  margin: 0;
}

.menu-card-action-description ul li {
  padding: .2rem;
  margin: 0 0 0.625rem 0.875rem;
  color: var(--bbl-color-grey-85);
  line-height: 1.4613rem;
}

@media (width > 47.5rem) {
  .menu-card-action.scrollable .global-dropdown-panel li a {
    white-space: normal;
  }

  .menu-card-action.stacked {
    gap: 0 var(--bbl-space-250);
    justify-content: center;
    flex-flow: row wrap;
  }

  .menu-card-action.stacked .menu-card-action-item {
    flex: 0 0 calc((100% - 3.75rem) / 4);
    width: calc((100% - 3.75rem) / 4);
    padding-bottom: var(--bbl-space-250);
    margin: 0;
  }

  .menu-card-action-title :is(h1, h2, h3, h4, h5, h6) {
    font-weight: var(--bbl-font-weight-regular);
    font-size: 1.3125rem;
    line-height: 1.4219rem;
    font-family: var(--bbl-font-family-medium);
  }


  .menu-card-action-description ul li {
    font-size: var(--bbl-font-size-b2);
  }
}

@media (width > 64rem) {
  .menu-card-action.scrollable .global-dropdown-panel li a {
    white-space: nowrap;
  }

  :lang(th) {
    .menu-card-actions-container .default-content-wrapper :is(h1) {
      line-height: 3.75rem;
    }

    .menu-card-actions-container .default-content-wrapper :is(h2) {
      line-height: 2.5rem;
    }

    .menu-card-actions-container .default-content-wrapper :is(h3) {
      line-height: 2rem;
    }

    .menu-card-actions-container .default-content-wrapper :is(h4) {
      line-height: 1.375rem;
    }

    .menu-card-action-title :is(h1) {
      line-height: 3.75rem;
    }

    .menu-card-action-title :is(h2) {
      line-height: 2.5rem;
    }

    .menu-card-action-title :is(h3) {
      line-height: 2rem;
    }

    .menu-card-action-title :is(h4) {
      line-height: 1.375rem;
    }
  }

  .menu-card-actions-container .default-content-wrapper .default-content-wrapper-text {
    line-height: 1.375rem;
  }

  .menu-card-action:is(.scrollable, .stacked) {
    gap: 0 var(--bbl-space-500);
    flex-wrap: wrap;
    justify-content: center;
    scroll-snap-type: none;
    scrollbar-width: none;
    overflow: visible;
  }

  .menu-card-action.scrollable::-webkit-scrollbar {
    display: none;
  }

  .menu-card-action.scrollable {
    padding: 0;
  }

  .menu-card-action:is(.scrollable, .stacked) .menu-card-action-item {
    flex: 0 0 calc((100% - 7.5rem) / 4);
    width: calc((100% - 7.5rem) / 4);
    padding: 0 0 var(--bbl-space-500);
    scroll-snap-align: none;
    margin: 0;
    box-sizing: border-box;
  }

  .menu-card-action-description p {
    font: var(--bbl-font-weight-regular) var(--bbl-font-size-base) / 1.375rem var(--bbl-font-family-regular);
  }

  .menu-card-action-date {
    line-height: 1.375rem;
  }

  .menu-card-action-description ul li {
    font-size: var(--bbl-font-size-b1);
    line-height: 1.67rem;
  }
}
