.credit-card-form main .section.form-container.custom-forms .form form :is(input:not([type='radio'], [type='checkbox']), select, textarea) {
  box-sizing: border-box;
  width: 100%;
  margin-top: 0;
  margin-bottom: var(--bbl-space-000);
  padding: 0 var(--bbl-space-250);
  border-radius: 0.4375rem;
}
