.error-footer {
  width: 100%;
  background-color: var(--bbl-color-truthful-blue);
  padding: 1.25rem;
  box-sizing: border-box;
}

.error-footer-container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  text-align: center;
  font-family: BangkokBank-Regular, sans-serif;
  font-size: 0.75rem;
  color: var(--bbl-color-white);
}

.error-footer-row {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: center;
}

.error-footer-links {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.error-footer-links a {
  color: var(--bbl-color-white);
  text-decoration: none;
}

.error-footer-pipe {
  color: var(--bbl-color-white);
}

.error-footer-row.bottom-row p {
  margin: 0;
}

@media (width >= 67rem) {
  .error-footer-container {
    text-align: left;
  }

  .error-footer-row.top-row {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}
