.error-header {
  width: 100%;
  background-color: var(--bbl-color-truthful-blue);
  height: 3.75rem;
  position: sticky;
  top: 0;
  border-bottom: none;
  display: flex;
  align-items: center;
  padding-left: 1.25rem;
  z-index: 100;
}

@media (width >= 64rem) {
  .error-header {
    height: 5rem;
  }
}

.error-header a {
  display: flex;
  align-items: center;
}