/* main .section.form-container.custom-forms {
  Styles for sections using the custom-forms section class.
} */

main .section.form-container.custom-forms .section.central-aligned .block, main .section.form-container.custom-forms .section.central-aligned > .default-content-wrapper{
  max-width:unset;
  margin-top:30px;
}

main .section.form-container.custom-forms .form form .field-wrapper:not(:has(label:is([class*=' icon-'], [class^='icon-']))):is([class*='field-firstname'], [class*='field-lastname'], [class*='field-name'], [class*='field-phonenumber'], [class*='field-mobilenumber'], [class*='field-companyname'], [class*='field-company'], [class*='field-property-dropdown'], [class*='field-juristicpersonregistrationnumber'])> :is(input, select){
  padding-left:20px;
}

main .section.form-container.custom-forms .form form fieldset.panel-wrapper.field-wrapper>legend {
  display: block;
  margin: 20px 0 10px;
  padding: 3px 0 3px 20px;
  text-align: left;
  background-color: #f7f7f7;
}

main .section.form-container.custom-forms .form form fieldset.panel-wrapper.field-wrapper {
  grid-template-columns: repeat(var(--form-columns), minmax(0, 1fr));
  width:auto;
}

main .section.form-container.custom-forms .form form fieldset.panel-wrapper.field-wrapper :is(.field-wrapper.col-12, .field-wrapper.col-11, .field-wrapper.col-1) {
  grid-column: span 12;
}

main .section.form-container.custom-forms .form form .field-wrapper:has(> .checkbox-group-wrapper) {
  padding-top: 40px;
}

main .section.form-container.custom-forms .form form .field-wrapper:has(> .checkbox-group-wrapper) .field-wrapper {
  margin: 10px 0 10px 20px;
}

main .section.form-container.custom-forms .form form .field-wrapper:has(> .checkbox-group-wrapper) .field-wrapper > .field-label {
  position: absolute;
  top:10px;
  z-index:1;
  left: 0;
}

main .section.form-container.custom-forms .form form .radio-group-wrapper:not(.horizontal) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

main .section.form-container.custom-forms .form form .field-wrapper:not(:has(label:is([class*=' icon-'], [class^='icon-']))):is([class*='field-firstname'], [class*='field-lastname'], [class*='field-name'], [class*='field-phonenumber'], [class*='field-mobilenumber'], [class*='field-companyname'], [class*='field-company'], [class*='field-email'], [class*='field-juristicpersonregistrationnumber'])::before{
  content: '';
}

main .section.form-container.custom-forms .form-wrapper .form :is(.text-wrapper, .number-wrapper, .email-wrapper, .telephone-wrapper, .drop-down-wrapper).field-invalid :is(input, select),
main .section.form-container.custom-forms .form-wrapper .form .drop-down-wrapper.field-invalid select {
  padding: 0 20px;
}

main .section.form-container.custom-forms .form form fieldset.panel-wrapper.field-wrapper:has(> .field-approvalcheckbox, > .field-privacy){
    padding: 0 0 0 2.1875rem;
}

main .section.form-container.custom-forms .form form .field-wrapper:has(> .checkbox-group-wrapper) .field-wrapper .field-description{
  position:absolute;
  z-index:1;
  bottom:0;
  left:0; 
}

main .section.form-container.custom-forms .form form .field-wrapper:has(> .checkbox-group-wrapper > .field-description) {
  padding-bottom: 20px;
}

main .section.form-container.custom-forms .form fieldset.panel-wrapper.field-wrapper .tnc-text-decoration {
  max-height: 150px;
}

main .section.form-container.custom-forms .form form fieldset.panel-wrapper.field-wrapper .tnc-text-decoration {
border:none;
}

main .section.form-container.custom-forms .form :is(.field-submitcta form button[type='submit']:not(:disabled), form .submit-wrapper button:not(:disabled)){
  background:#0064ff;
  color:#fff;
  border:none;
}

main .section.form-container.custom-forms .form :is(.field-submitcta form button[type='submit']:disabled, form .submit-wrapper button:disabled){
  background:#e0e0e0;
  color:#9e9e9e;
  border:none;
  cursor:not-allowed;
  pointer-events:none;
}

main .section.form-container.custom-forms .panel-wrapper > legend.field-label {
  color: var(--bbl-color-grey-85);
  font-size: 16px;
  font-weight: 600;
  cursor: default;
}

main .section.form-container.custom-forms :is(.checkbox-group-wrapper, .radio-group-wrapper) > legend.field-label {
    color: var(--bbl-color-grey-85);
    font-size: 20px;
    font-weight: 400;
    cursor: default;
    text-align: center;
}

@media (width > 47.5rem) {
main .section.form-container.custom-forms .form form .field-wrapper:has(> .checkbox-group-wrapper) .field-wrapper {
  margin-left: 25%;
}
}
