td.merged-fund-type {
  vertical-align: top;
  color: var(--bbl-color-grey-55, #999);
}

.fund-prices-table {
  margin: 2.875rem 0 0;
  overflow-x: auto;
}

.fund-prices-table table {
  width: 100%;
  min-width: 62.5rem;
  table-layout: fixed;
  border-collapse: collapse;
  border: 0.0625rem solid var(--bbl-color-grey-18);
  background: var(--bbl-color-grey-10);
}

@media (width > 64rem) {
  .fund-prices-table {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .fund-prices-table table {
    min-width: 62.5rem;
  }
}

.fund-prices-table table td {
  border-left: none;
  border-right: none;
  border-bottom: 0.0625rem solid var(--bbl-color-grey-18);
}

.fund-prices-table table.outline-border,
.fund-prices-table table.border-bottom td {
  border-color: var(--bbl-color-grey-18);
}

.fund-prices-table table tr:not(.header-row) td {
  color: var(--bbl-color-grey-70);
  font-family: var(--bbl-font-family-primary);
  font-size: var(--bbl-text-body-size);
  font-weight: var(--bbl-font-weight-regular);
  background: var(--bbl-color-white);
  padding: var(--bbl-space-150) 1.125rem;
  text-align: right;
  vertical-align: middle;
  height: var(--bbl-space-100);
}

.fund-prices-table table tr:not(.header-row) td span {
  display: block;
  font-style: italic;
  font-family: var(--bbl-font-family-medium);
  font-weight: var(--bbl-font-weight-medium);
  font-size: 0.6875rem;
  line-height: 1.63;
  letter-spacing: -0.0063rem;
  padding-left: 0;
}

.fund-prices-table table tr:not(.header-row) td.merged-fund-type {
  text-align: left;
}

.fund-prices-table table tr:not(.header-row) td.col-openendfund {
  text-align: left;
  white-space: normal;
  overflow-wrap: break-word;
}

.fund-prices-table table tr:not(.header-row) td.col-nav,
.fund-prices-table table tr:not(.header-row) td.col-sellingprice,
.fund-prices-table table tr:not(.header-row) td.col-redemptionprice,
.fund-prices-table table tr:not(.header-row) td.col-totalnetassets {
  text-align: right;
  padding-right: 0;
}

.fund-prices-table table tr:not(.header-row) td.col-sellingprice {
  padding-right: 0.625rem;
}

.fund-prices-table table tr:not(.header-row) td.col-totalnetassets {
  padding-right: 1.125rem;
}

.fund-prices-table table tr.header-row td {
  font-family: var(--bbl-font-family-medium);
  font-size: var(--bbl-text-body-size);
  font-weight: var(--bbl-font-weight-medium);
  line-height: var(--bbl-line-height-body);
  color: var(--bbl-color-black);
  background: var(--bbl-color-grey-10);
  padding: 0;
  vertical-align: middle;
  border-color: var(--bbl-color-grey-18);
  text-align: right;
  white-space: nowrap;
}

.fund-prices-table table tr.header-row td:first-child,
.fund-prices-table table tr.header-row td:nth-child(2) {
  text-align: left;
}

.fund-prices-table table tr.header-row td:first-child {
  width: 10%;
  padding-left: 1.125rem;
}

.fund-prices-table table tr.header-row td:nth-child(2) {
  width: 34%;
  padding-left: 1.0625rem;
}

.fund-prices-table table tr.header-row td:nth-child(4) {
  padding-right: 0.625rem;
}

.fund-prices-table table tr.header-row td:last-child {
  width: 16%;
  padding-right: 1.25rem;
}

.fund-prices-table table tr.header-row {
  height: 4.375rem;
}
