.carousel {
    margin-bottom: var(--bbl-space-300);
    padding-left: 1rem;
}

.carousel-header {
    margin: var(--bbl-space-300) 0 0.875rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 1rem;
}

.carousel-header h2 {
    margin: 0;
    font-size: var(--bbl-text-section-title-size);
    line-height: var(--bbl-text-section-title-line-height);
    font-weight: var(--bbl-text-section-title-weight);
    color: var(--bbl-color-black);
}

:lang(th) {
    .carousel-header h2 {
            line-height: 1.5rem;
    }
}

.carousel-header a {
    display: flex;
    min-width: 100px;
    align-items: flex-end;
    justify-content: flex-end;
    font-weight: var(--bbl-font-weight-regular);
    font-size: 0.7rem;
    line-height: 0.98rem;
    color: var(--bbl-color-active-blue);
    text-decoration: none;
    position: relative;
    padding-right: 0.9375rem;
    font-family: var(--bbl-font-family-looped);
}

.carousel-header a::after {
    content: "\e901";
    position: absolute;
    font-size: 0.625rem;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    transition: all 0.3s;
}

.carousel-item > a {
    text-decoration: none;
}

.carousel-header a:hover {
    color: var(--bbl-color-blue-90);
}

.carousel-header a:hover::after {
    color: var(--bbl-color-blue-90);
    right: -5px;
}

.carousel-header a:active {
    color: var(--bbl-color-active-blue);
}

.carousel-header a:active::after {
    color: var(--bbl-color-active-blue);
}

.carousel-nav {
    display: none;
}

.carousel-track {
    display: flex;
    gap: var(--bbl-space-100);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
}

.carousel-track::-webkit-scrollbar {
    display: none;
}

.carousel-item {
    flex: 0 0 auto;
    width: calc(((100vw - 2.1875rem) / 4) * 3);
    max-width: 100%;
    max-height: 30.625rem;
    display: block;
    border-radius: 0.4375rem;
    overflow: hidden;
    border: 0.0625rem solid var(--bbl-color-black-alpha-10);
    scroll-snap-align: start;
    background-color: var(--bbl-color-white);
}

.carousel-item:last-child {
    margin-right: 6.25rem;
}

.carousel-item-link {
    display: block;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.carousel-item-link .carousel-image-container,
.carousel-track .carousel-item .carousel-image-container {
    display: block;
}

.carousel-item-link .carousel-image-container .carousel-image-active,
.carousel-track .carousel-item .carousel-image-container .carousel-image-active {
    display: block;
    max-width: 100%;
    height: 13.75rem;
    width: 100%;
}

.carousel-track .carousel-item .carousel-image-container .carousel-image-active picture {
    display: block;
    width: 100%;
    height: 100%;
}

.carousel-track .carousel-item .carousel-image-container .carousel-image-active img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.carousel-track .carousel-item .carousel-image-container .carousel-image-inactive {
    display: none;
}

/* Carousel Content Styles */
.carousel-content {
    position: relative;
    padding: var(--bbl-space-200);
    max-height: 16.875rem;
    min-height: 16.875rem;
    max-width: 24.375rem;
    color: var(--bbl-color-black);
    display: flex;
    flex-direction: column;
    pointer-events: none;
}

.carousel-item-link .carousel-content {
    pointer-events: auto;
}

.carousel-eyebrow {
    font-size: var(--bbl-text-label-tag-size);
    line-height: var(--bbl-text-label-tag-line-height);
    font-weight: var(--bbl-text-label-tag-weight);
    background: var(--bbl-color-blue-140);
    display: inline-block;
    padding: 0.25rem 0.4375rem;
    margin-bottom: 0.8125rem;
    color: var(--bbl-color-white);
    border-radius: var(--bbl-rounded-200);
    width: fit-content;
    font-family: var(--bbl-font-family-looped);
    text-decoration: none;
}

.carousel-title {
    color: var(--bbl-color-black);
    font-size: var(--bbl-text-article-card-title-size);
    line-height: var(--bbl-text-article-card-title-line-height);
    margin: 0 0 var(--bbl-space-100);
    font-weight: var(--bbl-text-article-card-title-weight);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    text-decoration: none;
}

.carousel-description {
    font-size: 0.875rem;
    line-height: 1.2031rem;
    color: var(--bbl-color-grey-70);
    margin: 0 0 var(--bbl-space-200);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    text-decoration: none;
}

.carousel-description p {
    margin: 0;
    font-size: var(--bbl-text-default-size);
    font-weight: var(--bbl-text-default-weight);
    line-height: var(--bbl-text-default-line-height);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
}

.carousel-cta {
   display: none;
}

@media (width >= 761px) {
    .carousel {
        padding-left: 3rem;
    }

    .carousel-header {
        padding-right: 3rem;
    }

    .carousel-track { 
        gap: var(--bbl-space-200);
    }

    .carousel-item { 
        width: calc((100vw - 8rem) / 3);
    }

    .carousel-item:last-child {
        margin-right: 18.75rem;
    }

    .carousel-description { 
        font-size: 0.7875rem;
        line-height: 1.2031rem;
        font-family: var(--bbl-font-family-looped);
    }
}

@media (width >= 1025px) {
    .carousel {
        position: relative;
    }

    .carousel:has(.carousel-track .carousel-item:first-child.active) {
        padding-left: 84px;
    }

    .carousel:not(:has(.carousel-track .carousel-item:first-child.active)) {
        padding-left: 0;
    }

    .carousel .carousel-wrapper {
        position: relative;
        overflow: hidden;
    }

    .carousel-header {
        margin: 22px 0 var(--bbl-space-500);
        padding-right: 84px;
    }

    .carousel-wrapper:has(.carousel-prev:enabled) .carousel-header {
        padding-left: 84px;
    }

    :lang(th) {
        .carousel-header h2 {
                line-height: 2.5rem;
        }
    }

    .carousel-header a {
        font-size: 12.8px;
        line-height: 17.92px;
        margin-right: 15px;
        font-family: var(--bbl-font-family-looped);
    }

    /* Disable native scrolling on desktop */
    .carousel-track {
        overflow: visible;
        scroll-snap-type: none;
        transition: transform 0.4s ease-in-out;
        gap: var(--bbl-space-300);
    }

    /* Navigation buttons */
    .carousel-nav {
        display: block;
        position: absolute;
        top: 60%;
        transform: translateY(-50%);
        background: rgb(255 255 255 / 90%);
        width: 4.125rem;
        height: 4.125rem;
        border-radius: 50%;
        cursor: pointer;
        z-index: 10;
        box-shadow: 0 0 0.0625rem 0 rgb(0 0 0 / 50%);
        border: 0.0625rem solid rgb(158 158 158 / 70%);
    }

    .carousel-nav::before {
        content: "\e901";
        font-family: icomoon, sans-serif;
        font-size: 1rem;
        line-height: 4;
        color: var(--bbl-color-active-blue);
    }

    .carousel-nav:hover::before {
        color: var(--bbl-color-active-blue);
    }

    .carousel-nav:active {
        outline: none;
        background: #d6d6d6;
    }

    .carousel-nav:active::before,
    .carousel-nav:focus::before {
        color: var(--bbl-color-active-blue);
    }

    .carousel-nav:disabled {
        display: none;
        opacity: 1;
        cursor: not-allowed;
        background: var(--bbl-color-white-alpha-50);
    }

    .carousel-nav:disabled::before {
        opacity: 0.5;
        color: var(--bbl-color-active-blue);
    }

    .carousel-prev {
        left: 1.75rem;
    }

    .carousel-prev::before {
        transform: rotate(180deg);
        display: inline-block;
    }

    .carousel-next {
        right: auto;
    }


    .carousel-item.active {
        display: flex;
        width: calc(66.66vw - 8.25rem);
        min-width: calc(66.66vw - 8.25rem);
    }

    .carousel-item.active > div {
        max-width: calc(50% - 0.75rem);
        height: 100%;
    }

    .carousel-track .carousel-item .carousel-image-container {
        height: 100%
    }

    .carousel-track .carousel-item .carousel-image-container .carousel-image-active {
       display: none;
    }

    .carousel-track .carousel-item .carousel-image-container .carousel-image-inactive { 
        display: block;
        height: 100%;
    }

    .carousel-track .carousel-item .carousel-image-container .carousel-image-inactive img{
        height: 30.625rem;
        object-fit: cover;
    }

    .carousel-track .carousel-item.active .carousel-image-container .carousel-image-active {
        display: block;
        height: 100%;
    }

    .carousel-track .carousel-item.active .carousel-image-container .carousel-image-inactive {
        display: none;
    }

    .carousel-item.active .carousel-content {
       padding: var(--bbl-space-400);
         max-height: 26.875rem;
    }

    .carousel-eyebrow {
        background: var(--bbl-color-blue-140);
        display: inline-block;
        padding: var(--bbl-space-050) 0.4375rem;
        margin-bottom: 0.875rem;
        color: var(--bbl-color-white);
        border-radius: var(--bbl-rounded-200);
    }

    .carousel-title {
        margin-bottom: var(--bbl-space-200);
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        max-width: 20rem;
    }

    .carousel-description {
        display: none
    }

    .carousel-item.active .carousel-description{
        font-size: 1rem;
        line-height: 1.375rem;
        margin-bottom: var(--bbl-space-300);
        color: var(--bbl-color-gray-142);
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 7;
        line-clamp: 7;
    }

    .carousel-cta {
        display: inline-block;
        position: absolute;
        bottom: var(--bbl-space-200);
    }

    .carousel-item:not(.active) {
        width: 30%;
        height: 490px;
    }

    .carousel-item:not(.active) .carousel-content {
        position: absolute;
        z-index: 1;
        top: 0;
        width: 100%;
        padding: var(--bbl-space-400);
        color: var(--bbl-color-white);
        max-width: 360px;
    }

    .carousel-item:not(.active) .carousel-content .carousel-cta {
        top: 55%;
    }
}
