.card-list-container .default-content-wrapper :is(h1, h2, h3, h4, h5, h6) {
  font-size: var(--bbl-text-section-title-size);
  line-height: var(--bbl-text-section-title-line-height);
  font-weight: var(--bbl-text-section-title-weight);
  letter-spacing: -0.0125rem;
}

:lang(th) {
  .card-list-container .default-content-wrapper :is(h1) {
    line-height: 1.875rem;
  }

  .card-list-container .default-content-wrapper :is(h2) {
    line-height: 1.5rem;
  }

  .cards-list-title :is(h1) {
    line-height: 1.875rem;
  }

  .cards-list-title :is(h2) {
    line-height: 1.5rem;
  }
}

.cards-list-remark p,
.cards-list-subtitle p,
.cards-list-description p {
  font-weight: var(--bbl-font-weight-regular);
  color: var(--bbl-color-grey-70);
}

.cards-list-subtitle p {
  line-height: 1.203rem;
  margin-block: 0;
  position: relative;
  padding-bottom: 0.9375rem;
  margin-bottom: 0.9375rem;
}

.cards-list-subtitle p::before {
  content: "";
  position: absolute;
  left: 0;
  width: 1.3125rem;
  bottom: 0;
  height: 0.0625rem;
  background: var(--bbl-color-grey-60);
}

.cards-list-remark p {
  line-height: 1.124rem;
  margin: 0;
}

.cards-list-description p {
  line-height: var(--bbl-text-default-line-height);
  font-size: var(--bbl-text-default-size);
  font-weight: var(--bbl-text-default-weight);
}

.cards-list-description :is(p, li) a {
  color: inherit;
}

.cards-list-description :is(p, li) a[class] {
  display: inline;
  font-weight: inherit;
  font-family: inherit;
  font-size: inherit;
}

.cards-list-description :is(p, li) a[class]::after {
  display: none;
}

.cards-list-promo-tag p {
  margin: 0;
}

.cards-list-date p {
  font-size: var(--bbl-body-b1-size);
  line-height: 1.203rem;
  color: var(--bbl-color-grey-85);
  margin: 0;
}

.card-list-container .default-content-wrapper p {
  line-height: 1.124rem;
  margin: 0;
  color: var(--bbl-color-grey-85);
  font-weight: var(--bbl-font-family-regular);
  padding-bottom: 1.875rem;
}

.cards-list {
  display: flex;
  flex-direction: column;
  gap: var(--bbl-space-250) 0;
}

.all-carousel-fragment {
  margin-bottom: var(--bbl-space-1000);
}

.carousel-dotted-item .cards-list.carousel {
  overflow: visible;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

.cards-list-button .button{
  width: 100%;
  box-sizing: border-box;
}

.cards-list:is(.scrollable, .carousel) {
  flex-direction: row;
  align-items: stretch;
  gap: 0 var(--bbl-space-250);
  overflow: auto hidden;
  padding: 0.625rem 0;
  scroll-snap-type: x mandatory;
  scrollbar-width: thin;
}

.cards-list.carousel::-webkit-scrollbar {
  display: none;
}

.cards-list-item {
  margin-bottom: var(--bbl-space-250);
  text-align: left;
  background: var(--bbl-color-white);
  overflow: visible;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 1rem 0 transparent;
  position: relative;
  border: 0.0625rem solid var(--bbl-color-black-alpha-10);
  border-radius: 0.4375rem;
}

.carousel .cards-list-item {
  margin-block: 0.5625rem 0;
}

.cards-list-item:has(.cards-list-item-link) {
  border: none;
}

/* .cards-list-item:has(.cards-list-image-logo) {
  height: calc(100% - 0.5625rem);
} */

.cards-list:is(.scrollable, .carousel) .cards-list-item {
  flex: 0 0 16.875rem;
  scroll-snap-align: start;
}

.cards-list:is(.carousel) .cards-list-item {
  flex: 0 0 17.5rem;
  scroll-snap-align: start;
}

.cards-list:is(.carousel) {
  padding: 0;
}

.cards-list-item-link {
  color: inherit;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 0.0625rem solid var(--bbl-color-black-alpha-10);
  transition: border 0.3s ease, box-shadow 0.3s ease;
  border-radius: 0.4375rem;
}

.cards-list-item:has(.cards-list-item-link:hover) {
  box-shadow: 0.173rem 0.173rem 0 var(--bbl-color-black-alpha-17);
}

.cards-list-item-link:hover {
  border: 0.0625rem solid var(--bbl-color-active-blue);
  text-decoration: none;
}

.cards-list-inner {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.cards-list-image.cards-list-image-x-small {
  height: 10.1875rem;
  max-height: 100%;
}

.cards-list-image.cards-list-image-logo {
  height: 5rem;
  max-height: 100%;
  margin: 0.9375rem;
}

.card-list-modal-media img {
  width: auto;
  max-width: 100%;
  margin-inline: auto;
}

.cards-list-image.cards-list-image-profile img {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

.cards-list-image.cards-list-image-profile {
  height: calc(100vw);
  max-height: calc(15.625rem + 40 * ((100vw - 20rem) / 1600));
  overflow: hidden;
}

.cards-list-image.cards-list-image-logo img {
  height: 100%;
}

.modal-body .default-content-wrapper.card-list-modal-content {
  margin-inline: 0;
}

.modal-body .section.central-aligned {
  padding-inline: 0;
}

.cards-list-image.cards-list-image-x-small img {
  height: 75%;
  min-width: 90%;
  object-fit: contain;
  display: block;
  margin-inline: auto;
  transition: all 0.2s;
}

.cards-list-image:is(.cards-list-image-card, .cards-list-image-full) {
  width: 100%;
  overflow: hidden;
  height: calc(100vw * 0.5);
}

.cards-list-image:is(.cards-list-image-card, .cards-list-image-full, .cards-list-image-default) img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.cards-list-image.cards-list-image-card {
  max-height: 10.3125rem;
  border-top-left-radius: 0.4375rem;
  border-top-right-radius: 0.4375rem;
}

.cards-list-image.cards-list-image-full {
  max-height: 25.625rem;
}

.cards-list-image.cards-list-image-default {
  max-height: 100%;
  height: calc(100vw);
}

.card-list-modal-media picture {
  width: auto;
  max-width: 100%;
}

.card-list-modal-text+.card-list-modal-media picture,
.card-list-modal-text+.card-list-modal-media img {
  margin-inline: auto;
}

.cards-list-image.cards-list-image-x-small img:hover {
  transform: translate3d(0, 0, 0);
}

.cards-list-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: var(--bbl-space-250);
}

.cards-list-promo-tag {
  font-size: var(--bbl-text-label-tag-size);
  line-height: var(--bbl-text-label-tag-line-height);
  font-weight: var(--bbl-text-label-tag-weight);
  font-family: var(--bbl-font-family-medium);
  max-width: max-content;
  background: var(--bbl-color-blue-140);
  display: inline-block;
  padding: var(--bbl-space-050) 0.4375rem;
  margin-bottom: 0.875rem;
  color: var(--bbl-color-white);
  border-radius: var(--bbl-rounded-200);
}

.cards-list:has(.cards-list-promo-tag) .cards-list-content:not(:has(.cards-list-promo-tag))::before {
  content: '';
  display: block;
  height: 0.9844rem;
  margin-bottom: 0.875rem;
  padding-block: var(--bbl-space-050);
}

.cards-list-inner .cards-list-button {
  margin: auto 0 0;
  padding: 0 var(--bbl-space-250) var(--bbl-space-250);
}

.cards-list-downloads .download-button-wrapper.multiple-download-wrapper {
  margin-top: 0.625rem;
}

.cards-list-downloads .download-button-wrapper:first-child {
  margin-top: 0;
}

.cards-list-title :is(h1, h2, h3, h4, h5, h6) {
  position: relative;
  color: var(--bbl-color-black);
  min-height: 4.4375rem;
  font-size: var(--bbl-text-thumbnail-card-title-size);
  line-height: var(--bbl-text-thumbnail-card-title-line-height);
  font-weight: var(--bbl-text-thumbnail-card-title-weight);
  padding-bottom: 0.9375rem;
  margin-block: 0 0.9375rem;
  overflow-wrap: anywhere;
}

.section.bg-truthful-dark-blue * .cards-list-title :is(h1, h2, h3, h4, h5, h6) {
  color: var(--bbl-color-black);
}

.section.bg-truthful-dark-blue * .cards-list-description p {
  color: var(--bbl-color-grey-70);
}

.section.bg-truthful-dark-blue * .cards-list-remark p {
  color: var(--bbl-color-grey-70);
}

.section.bg-truthful-blue * .cards-list-title :is(h1, h2, h3, h4, h5, h6) {
  color: var(--bbl-color-black);
}

.section.bg-truthful-blue * .cards-list-description p {
  color: var(--bbl-color-grey-70);
}

.section.bg-truthful-blue * .cards-list-remark p {
  color: var(--bbl-color-grey-70);
}

.cards-list-title:not(.has-title-underline) :is(h1, h2, h3, h4, h5, h6) {
  min-height: 4.4375rem;
  padding-bottom: 0;
  margin-bottom: 0;
}

.cards-list-title.has-title-underline :is(h1, h2, h3, h4, h5, h6)::before {
  content: "";
  position: absolute;
  left: 0;
  width: 1.3125rem;
  bottom: 0;
  height: 0.0625rem;
  background: var(--bbl-color-grey-60);
}

.cards-list-button .button-container{
  margin: 0;
}

.cards-list-button .button-m{
  min-width: 100%;
  box-sizing: border-box;
}

.cards-list.scrollable::-webkit-scrollbar {
  height: 0.125rem;
}

.card-list-modal-media {
  margin: 0 auto;
}

.card-list-modal-title {
  font-size: 1.4rem;
  font-weight: var(--bbl-font-family-regular);
  letter-spacing: -0.0125rem;
  line-height: 1.375rem;
}

.card-list-modal-subtitle {
  margin-block: 0 1.875rem;
  line-height: 1.2495rem;
  font-size: 1.1375rem;
  font-weight: var(--bbl-font-family-regular);
}

.card-list-modal-last-title {
  margin: 0;
  font-size: 1.1375rem;
  line-height: 1.2495rem;
  font-weight: var(--bbl-font-family-regular);
}

.card-list-modal-text {
  color: var(--bbl-color-grey-85);
}

.download-file-wrapper:has(+ :is(.card-list-modal-subtitle, .card-list-modal-last-title)) .download-button-wrapper {
  padding-bottom: 1.875rem;
}

.card-list-modal-last-title+.card-list-modal-text {
  margin-block: var(--bbl-space-250) 0;
  line-height: 1.1375rem;
  font-weight: var(--bbl-font-family-regular);
}

.card-list-modal-last-title+.card-list-modal-text a {
  text-decoration: underline;
  color: var(--bbl-color-grey-85);
}

.card-list-modal-title+.card-list-modal-text {
  margin: 0;
  text-align: center;
  padding-bottom: 3.078rem;
  line-height: 1.124rem;
}

.card-list-modal-text+.card-list-modal-media {
  text-align: center;
}

.card-list-modal-media+.card-list-modal-text {
  margin-block: 1.203rem 0;
  line-height: 1.203rem;
  font-weight: var(--bbl-font-family-regular);
}

.cards-list-inner:has(.cards-list-downloads) {
  flex: none;
}

.cards-list-inner:has(.cards-list-downloads) .cards-list-button {
  margin-top: 0;
}

.cards-list-date {
  margin-top: auto;
  padding: var(--bbl-space-250);
}

.cards-list-item:has(.cards-list-image-logo) .download-button-wrapper .download-files {
  padding: 0 var(--bbl-space-500) 0 var(--bbl-space-250);
} 

.cards-list-button + .cards-list-date {
  padding-top: 0.625rem;
}

.cards-list-button .global-dropdown {
  width: 100%;
  margin-top: var(--bbl-space-250);
}

.cards-list-item:has(.global-dropdown.is-open) {
  z-index: 10;
}

.cards-list:is(.scrollable, .carousel):has(.global-dropdown.is-open) {
  z-index: 10;
}

.card-list-container.hidden {
  display: none;
}

@media (width > 47.5rem) {
  .card-list-container .default-content-wrapper p {
    font-size: var(--bbl-font-size-b2);
  }

  .cards-list.center {
    justify-content: center;
  }

  .cards-list {
    flex-flow: row wrap;
    gap: 0 var(--bbl-space-250);
    align-items: stretch;
  }

  .cards-list:is(.cards-1, .cards-3, .cards-4) .cards-list-item {
    margin-bottom: var(--bbl-space-500);
    display: flex;
  }

  .cards-list.cards-3 .cards-list-item {
    flex: 0 0 calc((100% - 2.5rem) / 3);
  }

  .cards-list.cards-4 .cards-list-item,
  .cards-list.cards-1 .cards-list-item {
    flex: 0 0 calc((100% - 3.75rem) / 3);
  }

  .cards-list:is(.scrollable, .carousel) .cards-list-item {
    flex-basis: 16.875rem;
  }

  .cards-list.scrollable.cards-3,
  .cards-list.scrollable.cards-4,
  .cards-list.scrollable.cards-1 {
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 0 var(--bbl-space-250);
  }

  .cards-list:is(.carousel) .cards-list-item {
    flex: 0 13.51rem;
  }

  .cards-list:is(.scrollablel).cards-3 .cards-list-item,
  .cards-list:is(.scrollable).cards-4 .cards-list-item,
  .cards-list:is(.scrollable).cards-1 .cards-list-item {
    flex: 0 0 16.875rem;
  }

  .cards-list-image.cards-list-image-card {
    height: calc(100vw / 5);
  }

  .cards-list-image.cards-list-image-full {
    height: calc(100vw / 5);
    max-height: calc(100vw * 0.2);
  }

  .cards-list-image.cards-list-image-default {
    max-height: calc(100vw * 0.4);
    height: 100vw;
  }

  :lang(th) {
    .cards-list-title :is(h1) {
      line-height: 3.75rem;
    }

    .cards-list-title :is(h2) {
      line-height: 2.5rem;
    }

    .cards-list-title :is(h3) {
      line-height: 2rem;
    }

    .cards-list-title :is(h4) {
      line-height: 1.375rem;
    }
  }

  .card-list-modal-title+.card-list-modal-text {
    font-size: 0.875rem;
  }

  .card-list-modal-subtitle,
  .card-list-modal-last-title {
    line-height: 1.422rem;
    font-size: 1.3125rem;
  }

  .card-list-modal-media+.card-list-modal-text {
    font-size: var(--bbl-font-size-b2);
  }

  .card-list-modal-last-title+.card-list-modal-text {
    font-size: var(--bbl-font-size-b2);
  }

  .cards-list-button .global-dropdown.is-open .global-dropdown-panel {
    width: max-content;
  }

  .cards-list:is(.scrollable, .carousel) .global-dropdown-panel li a {
    white-space: normal;
  }
}

@media (width > 64rem) {
  :lang(th) {
    .card-list-container .default-content-wrapper :is(h1) {
      line-height: 3.75rem;
    }

    .card-list-container .default-content-wrapper :is(h2) {
      line-height: 2.5rem;
    }

    .card-list-container .default-content-wrapper :is(h3) {
      line-height: 2rem;
    }

    .card-list-container .default-content-wrapper :is(h4) {
      line-height: 1.375rem;
    }

    .cards-list-title :is(h1) {
      line-height: 3.75rem;
    }

    .cards-list-title :is(h2) {
      line-height: 2.5rem;
    }

    .cards-list-title :is(h3) {
      line-height: 2rem;
    }

    .cards-list-title :is(h4) {
      line-height: 1.375rem;
    }
  }

  .cards-list-date p,
  .cards-list-remark p,
  .cards-list-subtitle p{
    line-height: 1.375rem;
  }

  .card-list-container .default-content-wrapper p {
    font-size: var(--bbl-font-size-b1);
    line-height: 1.375rem;
  }

  .cards-list {
    gap: 0 var(--bbl-space-500);
    align-items: stretch;
  }

  .cards-list:is(.scrollable, .carousel) .global-dropdown-panel li a {
    white-space: nowrap;
  }

  .cards-list.scrollable {
    flex-flow: row wrap;
    gap: 0 var(--bbl-space-500);
    align-items: stretch;
    overflow: visible;
    padding: 0;
    scroll-snap-type: none;
    scrollbar-width: none;
  }

  .cards-list:is(.carousel) .cards-list-item {
    flex: 0 0 16.25rem;
  }

  .cards-list:is(.scrollable, .carousel).center {
    justify-content: center;
  }

  .cards-list:is(.scrollable, .carousel) .cards-list-item {
    margin-bottom: var(--bbl-space-500);
    scroll-snap-align: none;
  }

  .cards-list.scrollable.cards-3,
  .cards-list.scrollable.cards-4,
  .cards-list.scrollable.cards-1 {
    flex-flow: row wrap;
    gap: 0 var(--bbl-space-500);
  }

  .cards-list.carousel.cards-3,
  .cards-list.carousel.cards-4,
  .cards-list.carousel.cards-1 {
    flex-flow: row nowrap;
    gap: 0 var(--bbl-space-500);
  }

  .cards-list.carousel::-webkit-scrollbar {
    display: none;
  }

  .cards-list.scrollable::-webkit-scrollbar {
    display: none;
  }

  .cards-list.cards-3 .cards-list-item {
    flex: 0 0 calc((100% - 2 * var(--bbl-space-500)) / 3);
  }

  .cards-list.cards-4 .cards-list-item,
  .cards-list.cards-1 .cards-list-item {
    flex: 0 0 calc((100% - 3 * var(--bbl-space-500)) / 4);
  }

  .cards-list.scrollable.cards-4 .cards-list-item,
  .cards-list.scrollable.cards-1 .cards-list-item {
    flex: 0 0 calc((100% - 3 * var(--bbl-space-500)) / 4);
  }

  .cards-list.carousel.cards-4 .cards-list-item,
  .cards-list.carousel.cards-1 .cards-list-item {
    flex: 0 0 calc((100% - 3 * var(--bbl-space-500)) / 4);
  }

  .cards-list.scrollable.cards-3 .cards-list-item {
    flex: 0 0 calc((100% - 2 * var(--bbl-space-500)) / 3);
    margin-bottom: var(--bbl-space-500);
    scroll-snap-align: none;
  }

  .cards-list.carousel.cards-3 .cards-list-item {
    flex: 0 0 calc((100% - 2 * var(--bbl-space-500)) / 3);
    margin-bottom: var(--bbl-space-500);
  }

  .cards-list-image.cards-list-image-card {
    max-height: calc(8.75rem + 25 * ((100vw - 20rem) / 1600));
    height: calc(15.625rem + 60 * ((100vw - 20rem) / 1600));
  }

  .cards-list-image.cards-list-image-full {
    height: calc(5.625rem + 75 * ((100vw - 20rem) / 1600));
  }

  .cards-list-image.cards-list-image-default {
    height: calc(100vw * 0.25);
  }

  .cards-list-image.cards-list-image-profile {
    height: calc(15.625rem + 60 * ((100vw - 20rem) / 1600));
  }

  .card-list-modal-title {
    font-size: var(--bbl-font-size-h3-desktop);
    line-height: 2.875rem;
  }

  .card-list-modal-title+.card-list-modal-text {
    font-size: var(--bbl-font-size-b1);
    line-height: 1.375rem;
  }

  .modal-body .default-content-wrapper.card-list-modal-content {
    max-width: 56.25rem;
    margin: 0 auto;
  }

  .card-list-modal-subtitle,
  .card-list-modal-last-title {
    line-height: 1.625rem;
    font-size: 1.5rem;
  }

  .card-list-modal-media+.card-list-modal-text {
    margin-block: 1.375rem 0;
    font-size: var(--bbl-font-size-b1);
    line-height: 1.375rem;
  }

  .card-list-modal-last-title+.card-list-modal-text {
    font-size: var(--bbl-font-size-b1);
    line-height: 1.3rem;
  }
}
