.root {
  --bbl-line-height-b1-mobile: 1.375rem;
  --bbl-font-size-b1-desktop: 3rem;
  --bbl-line-height-title-desktop: 2.875rem;
}

.section.central-aligned .news-media-details.block {
  margin-inline: auto;
}

.news-media-details {
  color: var(--bbl-color-grey-85);
  font-weight: var(--bbl-font-weight-regular);
}

.news-media-details .news-media-detail-title p {
  font-size: 1.4rem;
  font-family: var(--bbl-font-family-primary);
  line-height: var(--bbl-line-height-b1-mobile);
  margin-block: 0;
}

.news-media-details .news-media-detail-date {
  font-size: var(--bbl-text-small-size);
  line-height: var(--bbl-text-small-line-height);
  margin: 0;
}

.news-media-details .news-media-detail-image {
  margin-bottom: 2.125rem;
}

.news-media-details .news-media-detail-image img {
  display: block;
  width: 100%;
  height: auto;
}

.news-media-details .news-media-detail-description p {
  font-size: var(--bbl-text-small-size);
  line-height: var(--bbl-text-small-line-height);
  margin-block: 0;
}

@media (width > 47.5rem) {
  .news-media-details .news-media-detail-image {
    margin-bottom: var(--bbl-space-400);
  }
}

@media (width > 64rem) {
  .news-media-details .news-media-detail-title p {
    font-size: var(--bbl-font-size-b1-desktop);
    line-height: var(--bbl-line-height-title-desktop);
  }
}
