.default-content-wrapper :is(ol, ul):not(:where(.footer-container) *) {
  margin: 0 0 0 var(--bbl-space-250);
  padding: 0;
}

.default-content-wrapper :is(ol, ul):not(:where(.footer-container) *) li {
  margin: 0 0 0.625rem var(--bbl-space-250);
}

.default-content-wrapper :is(ol, ul):not(:where(.footer-container) *) li p {
  margin: 0;
}

.default-content-wrapper p:has(picture.rte-inline-image) {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.default-content-wrapper p.rte-has-icon picture:not(.rte-inline-image) {
  display: inline-block;
  vertical-align: middle;
}

.default-content-wrapper p.rte-has-icon picture.rte-inline-image {
  display: inline-block;
  vertical-align: middle;
}

.default-content-wrapper > p.rte-has-icon:not(.rte-image-link):has(+ p.rte-has-icon:not(.rte-image-link)),
.default-content-wrapper > p.rte-has-icon:not(.rte-image-link) + p.rte-has-icon:not(.rte-image-link) {
  display: inline;
}

.default-content-wrapper li:has(p.rte-has-icon) p {
  display: inline;
  margin: 0;
}

.default-content-wrapper li:has(p.rte-has-icon) p:has(picture) {
  display: inline-block;
  vertical-align: middle;
}

.default-content-wrapper p:has(picture.rte-inline-image) + p:has(picture.rte-inline-image) {
  margin-left: 0.5rem;
}

.default-content-wrapper li:has(> p:has(picture.rte-inline-image) + p:has(picture.rte-inline-image)) > p:has(picture.rte-inline-image) {
  display: inline-block;
  vertical-align: middle;
}

.accordion-item :is(.default-content-wrapper, .table.block) table td :is(ul, ol) {
  margin: 0 0 0 var(--bbl-space-250);
  padding: 0;
}

.accordion-item :is(.default-content-wrapper, .table.block) table td :is(ul, ol) li {
  margin: 0 0 0.625rem var(--bbl-space-250);
}

.default-content-wrapper > :not(.button-container, .footer-container) a:any-link {
  color: inherit;
}

.section.center-image .default-content-wrapper:has(> p:is(.rte-image-link, .rte-has-icon, :has(picture.rte-inline-image))) {
  text-align: center;
}
