.default-content-wrapper > p:first-child {
  margin: 0;
  max-width: 100%;
}

.error-page .default-content-wrapper :is(h1,h2,h3,h4,h5,h6) {
  margin: 0 auto;
  padding: 0;
  color: var(--bbl-color-truthful-blue);
  font-family: var(--bbl-font-family-medium);
  font-size: 1.3125rem;
  font-weight: var(--bbl-font-weight-regular);
  line-height: 1.4219rem;
}

.error-page .default-content-wrapper :is(h2,h3,h4,h5,h6)::after {
  content: none;
}

.error-page .default-content-wrapper :is(h2,h3,h4,h5,h6):last-of-type {
  padding-bottom: 1.25rem;
}

.error-page .default-content-wrapper :is(h2,h3,h4,h5,h6):last-of-type::after {
  content: "";
  display: block;
  width: 5rem;
  height: 0.0625rem;
  margin: 1.25rem auto 0;
  background-color: var(--bbl-color-grey-150);
}

.error-page .default-content-wrapper > p:not(:has(picture)) {
  width: auto;
  margin: 0 auto;
  padding-bottom: 1.875rem;
  color: var(--bbl-color-grey-85);
  font-family: var(--bbl-font-family-primary);
  font-size: var(--bbl-body-b1-size);
  font-weight: var(--bbl-font-weight-regular);
  line-height: 1.125rem;
}

.error-page .section:last-of-type .default-content-wrapper {
  display: flex;
  justify-content: center;
  gap: 0.2rem;
  padding: 0;
}

.error-page .default-content-wrapper .button-container {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

@media (width > 47.5rem) {
  .error-page .default-content-wrapper > p:not(:has(picture)) {
    margin: 0 auto;
    width: auto;
    max-width: 37.5rem;
  }

  .error-page .default-content-wrapper :is(h1,h2,h3,h4,h5,h6) {
    font-size: 1.3125rem;
  }
}

@media (width > 64rem) {
  .error-page .default-content-wrapper > p:not(:has(picture)) {
    margin: 0 auto;
    font-size: var(--bbl-font-size-b1);
    line-height: 1.375rem;
    max-width: 100%;
  }

  .error-page .default-content-wrapper :is(h1,h2,h3,h4,h5,h6) {
    font-size: 1.5rem;
    line-height: 1.625rem;
  }
}