picture.rte-inline-image {
    display: inline-block;
    vertical-align: middle;
}

picture.rte-inline-image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.default-content-wrapper :is(ol, ul) {
    margin: 0 0 0 var(--bbl-space-250);
    padding: 0;
}

.default-content-wrapper :is(ol, ul) li {
    margin: 0 0 0.625rem var(--bbl-space-250);
}

.default-content-wrapper :is(ol, ul) li p {
    margin: 0;
}

.default-content-wrapper .has-inline-icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.default-content-wrapper .has-inline-icon > p {
    margin: 0;
}
