/* =========================================================================
   THEME BASED STYLES for section level - Contact Us Banner
   ========================================================================= */
.section.background-wealth,
.section.background-privatebanking {
    padding: 1.875rem 1rem;
}

.section.background-wealth .default-content-wrapper,
.section.background-privatebanking .default-content-wrapper {
    margin-top: 1.5rem;
    line-height: 1.2031rem;
}

.section.background-wealth .default-content-wrapper {
    color: var(--bbl-color-grey-85);
}

.section.background-wealth .default-content-wrapper p:nth-child(2),
.section.background-privatebanking .default-content-wrapper p:nth-child(2) {
    margin: 1rem 0;
    padding-bottom: 1rem;
}

.section.background-wealth .default-content-wrapper h2,
.section.background-privatebanking .default-content-wrapper h2 {
    margin: 1.875rem 0;
    position: relative;
    padding-bottom: 1.25rem;
    font-size: 1.4rem;
}

.section.background-wealth .default-content-wrapper h2 {
    color: var(--bbl-color-black);
}

.section.background-wealth.underline-title .default-content-wrapper h2::after,
.section.background-privatebanking.underline-title .default-content-wrapper h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: var(--bbl-space-1000);
    height: 0.0625rem;
    background: var(--bbl-color-white);
    left: 50%;
    transform: translateX(-50%);
}

.section.background-wealth.underline-title .default-content-wrapper h2::after {
    background: var(--bbl-color-grey-150);
}

.section.background-wealth.underline-title .default-content-wrapper .button-container,
.section.background-privatebanking.underline-title .default-content-wrapper .button-container {
    margin-top: 1rem;
}

.section.background-privatebanking .button-container a.button-m.primary,
.section.background-wealth .button-container a.button-m.primary {
    font-weight: 400;
}

.section.background-privatebanking a.button-tertiary,
.section.background-wealth a.button-tertiary {
    font-weight: 400;
    text-decoration: underline;
}

.section.background-privatebanking a.button-tertiary::after,
.section.background-wealth a.button-tertiary::after {
    display: none;
}

.section.background-wealth a.button-tertiary {
    color: var(--bbl-color-grey-85);
}

@media (width > 47.5rem) {
    .section.background-wealth,
    .section.background-privatebanking {
        padding: 1.875rem 3rem;
        font-size: 0.875rem;
    }

    .section.background-wealth .default-content-wrapper h2,
    .section.background-privatebanking .default-content-wrapper h2 {
        padding-bottom: 1.875rem;
    }
}

@media (width > 64rem) {
    .section.background-wealth,
    .section.background-privatebanking {
        padding: 1.875rem 5.25rem;
        font-size: 1rem;
    }

    .section.background-wealth .default-content-wrapper,
    .section.background-privatebanking .default-content-wrapper {
        max-width: 56.25rem;
        margin: auto;
        margin-top: 3rem;
        line-height: 1.375rem;
    }

    .section.background-wealth .default-content-wrapper h2,
    .section.background-privatebanking .default-content-wrapper h2 {
        font-size: var(--bbl-heading-h3-size);
        font-weight: var(--bbl-font-weight-medium);
        line-height: 2.875rem;
    }
}