/* =========================================================================
   PAGE-LEVEL VARIANTS - for Wealth Page
   ========================================================================= */

body.wealth {
    color: var(--bbl-color-grey-70);
}

body.wealth main :is(h1, h2, h3, h4, h5, h6, p) {
    color: var(--bbl-color-black);
}

body.wealth main :is(.button-container .button, .button) {
    background: var(--bbl-color-active-blue);
    color: var(--bbl-color-white);
    border: 1px solid var(--bbl-color-active-blue);

    &:hover {
        background: var(--bbl-color-blue-90);
        border: 1px solid var(--bbl-color-blue-90);
    }
}

body.wealth .default-content-wrapper p {
    color: var(--bbl-color-grey-85);
}
